<div *ngFor="let immo of listImmobliere ">

    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <img  (click)="navToImmobiliereDetails(immo.id)" style="cursor: pointer;" class="rounded-t-lg" src={{immo.attachement}} alt="" />

        <div class="p-5">
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"> Status: {{immo.status}}</p>

        </div>
        <button type="button" style="width: 100%;" (click)="validateUser()"
            class="text-white bg-gradient-to-r from-cyan-400 via-cyan-500 to-cyan-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Reserve
        </button>
    </div>

</div>