<div style="display: flex;">
    <div style="flex: 3;">
        <div class="grid gap-4">
            <div>
                <img class="h-auto max-w-full rounded-lg"
                    src={{selectedImage}} alt="">
            </div>
            <div class="grid grid-cols-5 gap-4">
                <div *ngFor="let att of attachmentList ">
                    <img (mouseover)="setMainAttachemnt(att.idAttachment)" src={{att.path}} />
                </div>
            </div>
        </div>

    </div>
    <div style="flex: 3;padding-left: 20px;">
        <div class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Appartement Name</h5>
            <label><strong>Status:</strong> good</label>
            <br/>
            <label><strong>Etat:</strong> Neuf</label>
            <p class="font-normal text-gray-700 dark:text-gray-400"><strong>Description:</strong> Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
            <div class="reserve-btn">
                <button type="button"  (click)="validateUser()"
                class="text-white bg-gradient-to-r from-cyan-400 via-cyan-500 to-cyan-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Reserve
            </button>
            </div>
            <div style="margin-top: 20px;">
                <div class="user-avatar">
                    Created by:
                </div>
                <div>
                    <label>users1235448</label>
                </div>
            </div>
        </div>
    </div>
    <form [formGroup]="feedback" (ngSubmit)="onSubmit()">
        <label>
          ID:
          <input type="text" formControlName="id">
        </label>
      
        <label>
          Description:
          <input type="text" formControlName="description">
        </label>
      
        <label>
          Screen Type:
          <input type="text" formControlName="screen_type">
        </label>
      
        <label>
          Dislike:
          <input type="number" formControlName="dislike">
        </label>
      
        <label>
          Likes:
          <input type="number" formControlName="likes">
        </label>
      
        <label>
          Rating:
          <input type="number" formControlName="rating">
        </label>
      
        <button type="submit">Submit</button>
      </form>
    
</div>