.sidebar-push {
    position: relative;
    z-index: 1;
    width: 80%;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
  }
  
  .sidebar-push-active {
    transform: translateX(15rem); /* Adjust the value as per your sidebar width */
  }
  .immobiliere-menu{
    width : 98%;
    margin-left : auto;
    margin-right : auto;
    display: grid;
    margin-top: 16px;
    grid-template-columns: repeat(auto-fill, minmax(281px, 1fr));
    grid-row-gap: 30px;
    grid-column-gap: 30px;
}